.logo {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.bg-primary-color {
  background-color: #006a4e;
}

/* hero */

.hero {
  height: 100vh;
  background: url("/assets/images/hero_image.jpg") center/cover no-repeat;
}

.hero-text {
  font-size: 62px;
}

.hero-content {
  background: rgba(0, 0, 0, 0.5);
  padding: 25px 15px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .hero-text {
    font-size: 32px;
  }
}
